<mat-nav-list>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
        <span>Bejelentkezés</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="loggedInUser">
        <span>Kijelentkezés</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="close()" *ngIf="!loggedInUser">
        <span>Regisztráció</span>
    </a>
    <a mat-list-item routerLink="/main" (click)="close()">
        <span>Árukereső</span>
    </a>
    <a mat-list-item routerLink="/forum" (click)="close()">
        <span>Fórum</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="close()" *ngIf="loggedInUser">
        <span>Profil</span>
    </a>
</mat-nav-list>