<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>Webfejlesztés project</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navig">
                   <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
                   <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()" >Kijelentkezés</a></li> 
                   <li><a routerLink="/signup" *ngIf="!loggedInUser">Regisztráció</a></li> 
                   <li><a routerLink="/main">Árukereső</a></li>
                   <li><a routerLink="/forum">Fórum</a></li>
                   <li *ngIf="loggedInUser"><a routerLink="/profile">Profil</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>