<div class="div-flex">
    <form>
        <mat-form-field [(ngModel)]="searchText">
            <mat-label for="search">Keresés: </mat-label>
            <input matInput type="text" formControlName="search" #test (change)="onChange(test.value)"/>
        </mat-form-field>
    </form>
    <div>
    <button mat-raised-button (click)="onReverse()" color="primary">Fordított sorrend</button>
    <mat-form-field appearance="fill">
        <mat-select (selectionChange)="categoryChanged()" [(ngModel)]="chosenCategory">
            <mat-option *ngFor="let obj of categoryObject"  [value]="obj.name">{{obj.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
</div>
<table *ngFor="let item of itemObject">
    <tr>
        <td class="left_top_bottom"><app-image-viewer [imageInput]='item'></app-image-viewer></td>
        <td class="right_top_bottom">
            <h1>{{item.name}}</h1>
            <h3>{{item.description}}</h3>
            <p>{{item.tag}}</p>
        </td>
    </tr>
</table>